<div class="navigation">

    <link rel="stylesheet" href="/css/navigation.css">

    <a href="/" class="nav-logo">
        <img src="/resources/logo.svg" alt="A weird logo">
    </a>

    <ul class=nav-links>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/info">Info</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/new">New</a>
        </li>
    </ul>
</div>