<!DOCTYPE html>
<html>
<head>
    <title><%- heading %> </title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <%- include("../blocks/navigation.ejs") %> 
    <div class="bottom">
        <h1>This is the Blog Entry:</h1>
        <div class= blog-entry>
            <%- bloghtml %>
        </div>
    </div>
</body>
</html>