<!DOCTYPE html>
<html>
<head>
    <title>Blog Overview</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    <%- include("../blocks/navigation.ejs") %> 
    <div class="stuff">
        <h1>Blog Entries:</h1>
        <div class="blogEntries">
            <% for (let i= 0; i<blogEntries.length;i++){ %>
                <a href=<%= "/blog/"+blogEntries[i].url%>>
                    <div class="blogEntry">
                        <h2 class = "heading"><%= blogEntries[i].heading %></h2>
                        <p><%- blogEntries[i].description %></p>
                    </div>
                </a>
            <% } %> 
        </div>
    </div>
    
</body>
</html>