<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shitty Website</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class=navigation></div>
    <div class="top">
        <img src="resources/logo.svg" alt="A Fucking Triangle">
        <h1>Pauls Shitty Website</h1>
    </div>
    <div class="bottom">
        <div class="links">
            <a href="/info"><h2>Info</h2></a>
            <a href="/blog"><h2>Blog</h2></a>
            <a href="/new"><h2>New</h2></a>
        </div>
    </div>
    <%- include("../blocks/navigation.ejs") %> 
</html>